.classpath
.project
.settings/
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/lib/
src/main/webapp/WEB-INF/work/
web/src/main/webapp/WEB-INF/lib/
web/src/main/webapp/WEB-INF/classes/
web/src/main/webapp/WEB-INF/work/
target/
log/
*.jar
*.class
release.properties
*.releaseBackup
*.MF
.mymetadata
generatorConfig.xml
model/.gitignore
client/.gitignore
dao/.gitignore
common/.gitignore
service/.gitignore
*.iml
.idea/
